		/*Header*/
header{
	background-image: url("../image/large.jpg");
	background-size: 100% 100%;
}
.pantalla-oscura{
	background-color: rgba(36, 35, 35, 0.7);
}
.pantalla-azul{
	background-color: rgba(94, 139, 255, 0.8);
}
.icon-bar{
	border: 1px solid white;
}
button{
	background-color: transparent;
	border: 2px solid white !important;
}
.h2{
	margin: 0;
}
		/*Textos*/
.text-white{
	color: white;
}
.text-aqua{
	color: #81CCE6;
}
		/*Margenes*/
.pd{
	padding: 0%;
}
.pd-3{
	padding: 3%;
}
.pd-lados{
	padding: 0 10%;
}
.m-bottom{
	margin-bottom: 5%;
}
.m-top{
	margin-top: 4%;
}
		/*Servicios*/
.p{
	font-size: 130%;
	display: inline-block;
	border-radius: 100%;
	border: 1px solid silver;
	box-shadow: 1px 1px 2px #000;
}
.borde{
	border-bottom: 1px solid silver;
}
.separador{
	display: block;
	margin: auto;
	position: relative;
	bottom: -50px;
}
		/*Video*/
.inline{
	display: inline-block;
}
.img_inline{
	width: 40%;
}
		/*Lo que quiero*/
.bg-section{
	background-image: url("../image/sec-2.jpg");
	background-size: 100% 100%;
	height: 600px;
}
#pantalla-completa{
	height: 100%;
}
.m-left{
	margin: 0;
	margin-left: -30px;
	background-color: #81CCE6;
}
#regreso{
	bottom: 50px;
}
		/*footer*/
footer{
	background-color: #293540;
}
.icon-size{
	font-size: 40px;
}
		/*efectos*/
div.efec_hover:hover{	
	background-color: #293540;
	color: white;
}
		/*modal*/
.align{
	text-align: left !important;
}