		/*Header*/
header{
	background-image: url("../image/large.jpg");
	background-size: 100% 100%;
}
.pantalla-oscura{
	background-color: rgba(36, 35, 35, 0.7);
}
.pantalla-azul{
	background-color: rgba(94, 139, 255, 0.8);
}
.icon-bar{
	border: 1px solid white;
}
button{
	background-color: transparent;
	border: 2px solid white !important;
}
.h2{
	margin: 0;
}
		/*Textos*/
.text-white{
	color: white;
}
.text-aqua{
	color: #81CCE6;
}
		/*Margenes*/
.pd{
	padding: 0%;
}
.pd-3{
	padding: 3%;
}
.pd-lados{
	padding: 0 10%;
}
.p-bottom{
	padding-bottom: 5%;
}
		/*Servicios*/
span{
	font-size: 250%;
}
.p{
	display: inline-block;
	border-radius: 50%;
	box-shadow: 2px 2px 1px #000;
}
hr{
	position: relative;
}
.separador{
	position: absolute;
	top: -87%;
}
		/*Video*/
.inline{
	display: inline-block;
}
.img_inline{
	width: 40%;
}